# **Import RAW CSV data from multiple sources and Export useable tables for JavaScript**

In [1]:
#Dependencies
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

import pandas as pd
import datetime as dt
import numpy as np

Opioid Deaths by Age from 2006 - 2018

In [ ]:
#Import data files
age_2006_path = "../data/raw_data/deaths_by_age_2006.csv"
age_2007_path = "../data/raw_data/deaths_by_age_2007.csv"
age_2008_path = "../data/raw_data/deaths_by_age_2008.csv"
age_2009_path = "../data/raw_data/deaths_by_age_2009.csv"

age_2010_path = "../data/raw_data/deaths_by_age_2010.csv"
age_2011_path = "../data/raw_data/deaths_by_age_2011.csv"
age_2012_path = "../data/raw_data/deaths_by_age_2012.csv"
age_2013_path = "../data/raw_data/deaths_by_age_2013.csv"

age_2014_path = "../data/raw_data/deaths_by_age_2014.csv"
age_2015_path = "../data/raw_data/deaths_by_age_2015.csv"
age_2016_path = "../data/raw_data/deaths_by_age_2016.csv"
age_2017_path = "../data/raw_data/deaths_by_age_2017.csv"

age_2018_path = "../data/raw_data/deaths_by_age_2018.csv"

#Read files into pandas
age_2006 = pd.read_csv(age_2006_path)

age_2007 = pd.read_csv(age_2007_path)
age_2008 = pd.read_csv(age_2008_path)
age_2009 = pd.read_csv(age_2009_path)
age_2010 = pd.read_csv(age_2010_path)

age_2011 = pd.read_csv(age_2011_path)
age_2012 = pd.read_csv(age_2012_path)
age_2013 = pd.read_csv(age_2013_path)
age_2014 = pd.read_csv(age_2014_path)

age_2015 = pd.read_csv(age_2015_path)
age_2016 = pd.read_csv(age_2016_path)
age_2017 = pd.read_csv(age_2017_path)
age_2018 = pd.read_csv(age_2018_path)

age_2006_df = pd.DataFrame(age_2006)
age_2007_df = pd.DataFrame(age_2007)
age_2008_df = pd.DataFrame(age_2008)
age_2009_df = pd.DataFrame(age_2009)
age_2010_df = pd.DataFrame(age_2010)

age_2011_df = pd.DataFrame(age_2011)
age_2012_df = pd.DataFrame(age_2012)
age_2013_df = pd.DataFrame(age_2013)
age_2014_df = pd.DataFrame(age_2014)
age_2015_df = pd.DataFrame(age_2015)

age_2016_df = pd.DataFrame(age_2016)
age_2017_df = pd.DataFrame(age_2017)
age_2018_df = pd.DataFrame(age_2018)

age_2006_df.head()

In [ ]:
#There are five age groups and a total, separated out by state.
#Make six new dataframes to group all data by age group.

#I could have looped through these...

#0 to 24
df_0to24 = pd.DataFrame(age_2006_df['Location'])
df_0to24['2006'] = age_2006_df['0-24']
df_0to24['2007'] = age_2007_df['0-24']
df_0to24['2008'] = age_2008_df['0-24']
df_0to24['2009'] = age_2009_df['0-24']

df_0to24['2010'] = age_2010_df['0-24']
df_0to24['2011'] = age_2011_df['0-24']
df_0to24['2012'] = age_2012_df['0-24']
df_0to24['2013'] = age_2013_df['0-24']

df_0to24['2014'] = age_2014_df['0-24']
df_0to24['2015'] = age_2015_df['0-24']
df_0to24['2016'] = age_2016_df['0-24']
df_0to24['2017'] = age_2017_df['0-24']

df_0to24['2018'] = age_2018_df['0-24']

#25 to 34
df_25to34 = pd.DataFrame(age_2006_df['Location'])
df_25to34['2006'] = age_2006_df['25-34']
df_25to34['2007'] = age_2007_df['25-34']
df_25to34['2008'] = age_2008_df['25-34']
df_25to34['2009'] = age_2009_df['25-34']

df_25to34['2010'] = age_2010_df['25-34']
df_25to34['2011'] = age_2011_df['25-34']
df_25to34['2012'] = age_2012_df['25-34']
df_25to34['2013'] = age_2013_df['25-34']

df_25to34['2014'] = age_2014_df['25-34']
df_25to34['2015'] = age_2015_df['25-34']
df_25to34['2016'] = age_2016_df['25-34']
df_25to34['2017'] = age_2017_df['25-34']

df_25to34['2018'] = age_2018_df['25-34']

#35 to 44
df_35to44 = pd.DataFrame(age_2006_df['Location'])
df_35to44['2006'] = age_2006_df['35-44']
df_35to44['2007'] = age_2007_df['35-44']
df_35to44['2008'] = age_2008_df['35-44']
df_35to44['2009'] = age_2009_df['35-44']

df_35to44['2010'] = age_2010_df['35-44']
df_35to44['2011'] = age_2011_df['35-44']
df_35to44['2012'] = age_2012_df['35-44']
df_35to44['2013'] = age_2013_df['35-44']

df_35to44['2014'] = age_2014_df['35-44']
df_35to44['2015'] = age_2015_df['35-44']
df_35to44['2016'] = age_2016_df['35-44']
df_35to44['2017'] = age_2017_df['35-44']

df_35to44['2018'] = age_2018_df['35-44']

#45 to 54
df_45to54 = pd.DataFrame(age_2006_df['Location'])
df_45to54['2006'] = age_2006_df['45-54']
df_45to54['2007'] = age_2007_df['45-54']
df_45to54['2008'] = age_2008_df['45-54']
df_45to54['2009'] = age_2009_df['45-54']

df_45to54['2010'] = age_2010_df['45-54']
df_45to54['2011'] = age_2011_df['45-54']
df_45to54['2012'] = age_2012_df['45-54']
df_45to54['2013'] = age_2013_df['45-54']

df_45to54['2014'] = age_2014_df['45-54']
df_45to54['2015'] = age_2015_df['45-54']
df_45to54['2016'] = age_2016_df['45-54']
df_45to54['2017'] = age_2017_df['45-54']

df_45to54['2018'] = age_2018_df['45-54']

#55 plus
df_55plus = pd.DataFrame(age_2006_df['Location'])
df_55plus['2006'] = age_2006_df['55+']
df_55plus['2007'] = age_2007_df['55+']
df_55plus['2008'] = age_2008_df['55+']
df_55plus['2009'] = age_2009_df['55+']

df_55plus['2010'] = age_2010_df['55+']
df_55plus['2011'] = age_2011_df['55+']
df_55plus['2012'] = age_2012_df['55+']
df_55plus['2013'] = age_2013_df['55+']

df_55plus['2014'] = age_2014_df['55+']
df_55plus['2015'] = age_2015_df['55+']
df_55plus['2016'] = age_2016_df['55+']
df_55plus['2017'] = age_2017_df['55+']

df_55plus['2018'] = age_2018_df['55+']

#Total
df_total = pd.DataFrame(age_2006_df['Location'])
df_total['2006'] = age_2006_df['Total']
df_total['2007'] = age_2007_df['Total']
df_total['2008'] = age_2008_df['Total']
df_total['2009'] = age_2009_df['Total']

df_total['2010'] = age_2010_df['Total']
df_total['2011'] = age_2011_df['Total']
df_total['2012'] = age_2012_df['Total']
df_total['2013'] = age_2013_df['Total']

df_total['2014'] = age_2014_df['Total']
df_total['2015'] = age_2015_df['Total']
df_total['2016'] = age_2016_df['Total']
df_total['2017'] = age_2017_df['Total']
df_total['2018'] = age_2018_df['Total']

df_total.head()

In [ ]:
#remove United States totals
df_0to24_new = df_0to24.iloc[range(1,52)]
df_25to34_new = df_25to34.iloc[range(1,52)]
df_35to44_new = df_35to44.iloc[range(1,52)]
df_45to54_new = df_45to54.iloc[range(1,52)]
df_55plus_new = df_55plus.iloc[range(1,52)]

df_total_new = df_total.iloc[range(1,52)]
df_total_new.tail()

In [ ]:
df = df_total_new.set_index('Location')
df.head()

In [ ]:
df.to_csv(r'../data/age_totals.csv')

In [ ]:
_0to24_df = df_0to24_new.set_index('Location')
_25to34_df = df_25to34_new.set_index('Location')
_35to44_df = df_35to44_new.set_index('Location')
_45to54_df = df_45to54_new.set_index('Location')
_55plus_df = df_55plus_new.set_index('Location')

In [ ]:
_0to24_df.to_csv(r'../data/age0to24.csv')
_25to34_df.to_csv(r'../data/age25to34.csv')
_35to44_df.to_csv(r'../data/age35to44.csv')
_45to54_df.to_csv(r'../data/age45to54.csv')
_55plus_df.to_csv(r'../data/age55plus.csv')

Opioid Deaths by Race from 2006-2018

In [ ]:
#Import data files
race_2006_path = "../data/raw_data/deaths_by_race_2006.csv"
race_2007_path = "../data/raw_data/deaths_by_race_2007.csv"
race_2008_path = "../data/raw_data/deaths_by_race_2008.csv"
race_2009_path = "../data/raw_data/deaths_by_race_2009.csv"

race_2010_path = "../data/raw_data/deaths_by_race_2010.csv"
race_2011_path = "../data/raw_data/deaths_by_race_2011.csv"
race_2012_path = "../data/raw_data/deaths_by_race_2012.csv"
race_2013_path = "../data/raw_data/deaths_by_race_2013.csv"

race_2014_path = "../data/raw_data/deaths_by_race_2014.csv"
race_2015_path = "../data/raw_data/deaths_by_race_2015.csv"
race_2016_path = "../data/raw_data/deaths_by_race_2016.csv"
race_2017_path = "../data/raw_data/deaths_by_race_2017.csv"

race_2018_path = "../data/raw_data/deaths_by_race_2018.csv"

#Read files into pandas
race_2006 = pd.read_csv(race_2006_path)

race_2007 = pd.read_csv(race_2007_path)
race_2008 = pd.read_csv(race_2008_path)
race_2009 = pd.read_csv(race_2009_path)
race_2010 = pd.read_csv(race_2010_path)

race_2011 = pd.read_csv(race_2011_path)
race_2012 = pd.read_csv(race_2012_path)
race_2013 = pd.read_csv(race_2013_path)
race_2014 = pd.read_csv(race_2014_path)

race_2015 = pd.read_csv(race_2015_path)
race_2016 = pd.read_csv(race_2016_path)
race_2017 = pd.read_csv(race_2017_path)
race_2018 = pd.read_csv(race_2018_path)

race_2006_df = pd.DataFrame(race_2006)
race_2007_df = pd.DataFrame(race_2007)
race_2008_df = pd.DataFrame(race_2008)
race_2009_df = pd.DataFrame(race_2009)
race_2010_df = pd.DataFrame(race_2010)

race_2011_df = pd.DataFrame(race_2011)
race_2012_df = pd.DataFrame(race_2012)
race_2013_df = pd.DataFrame(race_2013)
race_2014_df = pd.DataFrame(race_2014)
race_2015_df = pd.DataFrame(race_2015)

race_2016_df = pd.DataFrame(race_2016)
race_2017_df = pd.DataFrame(race_2017)
race_2018_df = pd.DataFrame(race_2018)

race_2006_df.head()

In [ ]:
#Three dataframes, one for each race. Total column is same from age.

#white
df_white = pd.DataFrame(race_2006_df['Location'])
df_white['2006'] = race_2006_df['White, Non-Hispanic']
df_white['2007'] = race_2007_df['White, Non-Hispanic']
df_white['2008'] = race_2008_df['White, Non-Hispanic']
df_white['2009'] = race_2009_df['White, Non-Hispanic']

df_white['2010'] = race_2010_df['White, Non-Hispanic']
df_white['2011'] = race_2011_df['White, Non-Hispanic']
df_white['2012'] = race_2012_df['White, Non-Hispanic']
df_white['2013'] = race_2013_df['White, Non-Hispanic']

df_white['2014'] = race_2014_df['White, Non-Hispanic']
df_white['2015'] = race_2015_df['White, Non-Hispanic']
df_white['2016'] = race_2016_df['White, Non-Hispanic']
df_white['2017'] = race_2017_df['White, Non-Hispanic']

df_white['2018'] = race_2018_df['White, Non-Hispanic']
df_white_new = df_white.iloc[range(1,52)]
white_df = df_white_new.set_index('Location')
#white_df.head()

#black
df_black = pd.DataFrame(race_2006_df['Location'])
df_black['2006'] = race_2006_df['Black, Non-Hispanic']
df_black['2007'] = race_2007_df['Black, Non-Hispanic']
df_black['2008'] = race_2008_df['Black, Non-Hispanic']
df_black['2009'] = race_2009_df['Black, Non-Hispanic']

df_black['2010'] = race_2010_df['Black, Non-Hispanic']
df_black['2011'] = race_2011_df['Black, Non-Hispanic']
df_black['2012'] = race_2012_df['Black, Non-Hispanic']
df_black['2013'] = race_2013_df['Black, Non-Hispanic']

df_black['2014'] = race_2014_df['Black, Non-Hispanic']
df_black['2015'] = race_2015_df['Black, Non-Hispanic']
df_black['2016'] = race_2016_df['Black, Non-Hispanic']
df_black['2017'] = race_2017_df['Black, Non-Hispanic']

df_black['2018'] = race_2018_df['Black, Non-Hispanic']
df_black_new = df_black.iloc[range(1,52)]
black_df = df_black_new.set_index('Location')

#hispanic
df_hisp = pd.DataFrame(race_2006_df['Location'])
df_hisp['2006'] = race_2006_df['Hispanic']
df_hisp['2007'] = race_2007_df['Hispanic']
df_hisp['2008'] = race_2008_df['Hispanic']
df_hisp['2009'] = race_2009_df['Hispanic']

df_hisp['2010'] = race_2010_df['Hispanic']
df_hisp['2011'] = race_2011_df['Hispanic']
df_hisp['2012'] = race_2012_df['Hispanic']
df_hisp['2013'] = race_2013_df['Hispanic']

df_hisp['2014'] = race_2014_df['Hispanic']
df_hisp['2015'] = race_2015_df['Hispanic']
df_hisp['2016'] = race_2016_df['Hispanic']
df_hisp['2017'] = race_2017_df['Hispanic']

df_hisp['2018'] = race_2018_df['Hispanic']
df_hisp_new = df_hisp.iloc[range(1,52)]
hisp_df = df_hisp_new.set_index('Location')
hisp_df.head()

In [ ]:
white_df.to_csv(r'../data/racewhite.csv')
black_df.to_csv(r'../data/raceblack.csv')
hisp_df.to_csv(r'../data/racehispanic.csv')

Wrangle Medicare Data by Overall Urban/v/Rural instead of by Year

In [9]:
#Import data files
medi_2013_path = "../data/raw_data/CMS/Medicare_Part_D_Opioid_Prescribing_Geographic_2013.csv"
medi_2013 = pd.read_csv(medi_2013_path)
medi_2013_whole = pd.DataFrame(medi_2013)
#medi_2013_whole.head()

medi_2014_path = "../data/raw_data/CMS/Medicare_Part_D_Opioid_Prescribing_Geographic_2014.csv"
medi_2014 = pd.read_csv(medi_2014_path)
medi_2014_whole = pd.DataFrame(medi_2014)

medi_2015_path = "../data/raw_data/CMS/Medicare_Part_D_Opioid_Prescribing_Geographic_2015.csv"
medi_2015 = pd.read_csv(medi_2015_path)
medi_2015_whole = pd.DataFrame(medi_2015)

medi_2016_path = "../data/raw_data/CMS/Medicare_Part_D_Opioid_Prescribing_Geographic_2016.csv"
medi_2016 = pd.read_csv(medi_2016_path)
medi_2016_whole = pd.DataFrame(medi_2016)

medi_2017_path = "../data/raw_data/CMS/Medicare_Part_D_Opioid_Prescribing_Geographic_2017.csv"
medi_2017 = pd.read_csv(medi_2017_path)
medi_2017_whole = pd.DataFrame(medi_2017)

In [15]:
medi_urban = pd.DataFrame()
medi_urban['Location'] = medi_2013_whole['State Name']
medi_urban['2013'] = medi_2013_whole['Urban Overall Claims']
medi_urban['2014'] = medi_2014_whole['Urban Overall Claims']
medi_urban['2015'] = medi_2015_whole['Urban Overall Claims']
medi_urban['2016'] = medi_2016_whole['Urban Overall Claims']
medi_urban['2017'] = medi_2017_whole['Urban Overall Claims']

urban_df = medi_urban.iloc[range(1,52)]
urban = urban_df.set_index('Location')
urban.head()

                    2013         2014         2015         2016         2017
Location
Alabama       21,627,302   21,558,748   21,760,083   21,744,241   21,525,066
Alaska           796,055      864,833      854,367      755,249      775,673
Arizona       19,519,007   20,813,637   21,596,162   22,142,241   22,509,294
Arkansas       9,807,375   10,237,131   10,714,818   11,096,737   11,234,314
California   125,176,022  127,675,796  129,207,879  131,950,254  132,461,615

In [16]:
medi_rural = pd.DataFrame()
medi_rural['Location'] = medi_2013_whole['State Name']
medi_rural['2013'] = medi_2013_whole['Rural Overall Claims']
medi_rural['2014'] = medi_2014_whole['Rural Overall Claims']
medi_rural['2015'] = medi_2015_whole['Rural Overall Claims']
medi_rural['2016'] = medi_2016_whole['Rural Overall Claims']
medi_rural['2017'] = medi_2017_whole['Rural Overall Claims']

rural_df = medi_rural.iloc[range(1,52)]
rural = rural_df.set_index('Location')
rural.head()

                  2013       2014       2015       2016       2017
Location
Alabama      7,505,293  7,270,834  7,116,263  7,118,557  6,932,641
Alaska         491,888    526,148    489,313    470,342    460,978
Arizona      2,363,936  2,441,311  2,543,839  2,591,289  2,547,418
Arkansas     6,934,818  7,053,502  7,062,882  7,034,185  6,993,169
California   6,625,783  6,660,747  6,624,199  6,643,238  6,593,507

In [17]:
urban.to_csv(r'../data/urban_claims.csv')
rural.to_csv(r'../data/rural_claims.csv')